Magic 271485
Revision Verdi_S-2021.09-SP2-9

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1028 459 163 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home2/s2_student12/project/2024fa_cpu_design/week1x_final_project/hardware/81.RV32I_sync_tbman_tests/sim/func_sim/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 738.084717 1001.686402
cursor 830.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 14
; marker line index
markerPos 19

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home2/s2_student12/project/2024fa_cpu_design/week1x_final_project/hardware/81.RV32I_sync_tbman_tests/sim/func_sim/wave.fsdb"
addSignal -h 15 /c_tests_tb/CPU/icpu/clk
addSignal -h 15 -holdScope n_rst
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/PC[31:0]
addSignal -h 15 -holdScope PC_next[31:0]
addSignal -h 15 -holdScope PCSrc[1:0]
addSignal -h 15 -UNSIGNED -HEX /c_tests_tb/CPU/icpu/i_datapath/rf/wd[31:0]
addSignal -h 15 -holdScope we
addSignal -h 15 /c_tests_tb/CPU/icpu/Instr[31:0]
addSignal -h 15 -holdScope Instr_d1[31:0]
addSignal -h 15 -holdScope InstrD[31:0]
addSignal -h 15 -holdScope InstrE[31:0]
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/u_pc_mux3/in0[31:0]
addSignal -h 15 -holdScope in1[31:0]
addSignal -h 15 -holdScope in2[31:0]
addSignal -h 15 -holdScope out[31:0]
addSignal -h 15 -holdScope sel[1:0]
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/ALUResultM[31:0]
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/u_be_logic/RD[31:0]
addSignal -h 15 -holdScope BE_RD[31:0]
addSignal -h 15 -holdScope BE_WD[31:0]
addSignal -h 15 /c_tests_tb/CPU/data_we
addSignal -h 15 /c_tests_tb/CPU/icpu/StallD
addSignal -h 15 -holdScope StallD_1d
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/StallF
addSignal -h 15 /c_tests_tb/CPU/icpu/i_datapath/u_be_logic/Byte_Enable[3:0]
addSignal -h 15 -holdScope WD[31:0]
addSignal -h 15 -holdScope BE_RD[31:0]
addSignal -h 15 -holdScope RD[31:0]
addSignal -h 15 -holdScope addr_last2_d[1:0]
addSignal -h 15 -holdScope funct3_d[2:0]
addSignal -h 15 /c_tests_tb/CPU/icpu/FlushD
addSignal -h 15 -holdScope FlushE
addSignal -h 15 /c_tests_tb/CPU/icpu/u_controller/brlg/Branch
addSignal -h 15 -holdScope Btaken
addSignal -h 15 -holdScope jalE
addSignal -h 15 -holdScope jalrE
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home2/s2_student12/project/2024fa_cpu_design/week1x_final_project/hardware/81.RV32I_sync_tbman_tests/sim/func_sim/wave.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/ASYNC_RAM_DP_WBE"
"/c_tests_tb"
"/c_tests_tb/CPU"
"/c_tests_tb/CPU/icpu"
"/c_tests_tb/CPU/icpu/i_datapath"
"/c_tests_tb/CPU/icpu/i_datapath/rf"
"/c_tests_tb/CPU/icpu/i_datapath/u_ALU"
"/c_tests_tb/CPU/icpu/i_datapath/u_be_logic"
"/c_tests_tb/CPU/icpu/i_datapath/u_pc_mux3"
"/c_tests_tb/CPU/icpu/u_controller"
"/c_tests_tb/CPU/icpu/u_controller/brlg"

SCOPE_LIST_BEGIN
"/ASYNC_RAM_DP_WBE"
"/c_tests_tb"
"/c_tests_tb/CPU"
"/c_tests_tb/CPU/icpu"
"/c_tests_tb/CPU/icpu/i_datapath"
"/c_tests_tb/CPU/icpu/i_datapath/rf"
"/c_tests_tb/CPU/icpu/u_controller"
"/c_tests_tb/CPU/icpu/u_controller/brlg"
"/c_tests_tb/CPU/icpu/i_datapath/u_be_logic"
"/c_tests_tb/CPU/icpu/i_datapath/u_ALU"
"/c_tests_tb/CPU/icpu/i_datapath/u_pc_mux3"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


